<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Callisto" version="1.2.8" targetFramework="win" />
  <package id="Fody" version="1.13.6.1" targetFramework="win" />
  <package id="LiveSDK" version="5.3" targetFramework="win" />
  <package id="LiveSDKHelper" version="0.1.0.3" targetFramework="win" />
  <package id="MvvmLight" version="4.1.27.0" targetFramework="win" />
  <package id="MvvmLightLibs" version="4.1.27.0" targetFramework="win" />
  <package id="Newtonsoft.Json" version="5.0.2" targetFramework="win" />
  <package id="ObjectStorageHelper" version="5.0.0" targetFramework="win" />
  <package id="PropertyChanged.Fody" version="1.36.2.3" targetFramework="win" />
  <package id="WriteableBitmapEx" version="1.0.7.0" targetFramework="win" />
</packages>